**/*.sql
**/*.sqlite
**/*.hdf5
**/*.csv
*.hdf5
**/*.csv
*.csv
.git
**/.git
__pycache__
**/__pycache__
.vscode
**/.vscode
**/*.o
*.o
*.zip
**/*.zip
*.gz
**/*.gz
**/*.zip
*.Dockerfile
.Dockerfile
.dockerignore